###############
# Ansible generated config, will be overwritten!
###############

###############
# General
###############
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["lo"]}}

auto eth0
iface eth0 inet dhcp
  vrf mgmt

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

###############
# Bridge / Vlans
###############

auto bridge
iface bridge
  bridge-vlan-aware yes
  bridge-ports {{ node[inventory_hostname]["ports"] | join(" ") }} peerlink
  bridge-vids {{ general["vlans"] | join(" ") }}
  {% if node[inventory_hostname]["bridge"]is defined %}
  bridge-pvid {{ node[inventory_hostname]["bridge"]["native"] }}
  bridge-stp on
  {% if node[inventory_hostname]["bridge"]["priority"] is defined %}
  mstpctl-treeprio {{ node[inventory_hostname]["bridge"]["priority"] }}
  {% endif %}
  {% endif %}

###############
# MLAG
###############

{% if node[inventory_hostname]["mlag"] is defined %}
auto peerlink
iface peerlink
  bond-slaves {{ node[inventory_hostname]["mlag"]["members"] | join(" ") }}
  mtu 9216

auto peerlink.4094
iface peerlink.4094
  address {{ node[inventory_hostname]["mlag"]["address"] }}
  clagd-peer-ip {{ node[inventory_hostname]["mlag"]["peer-ip"] }}
  clagd-backup-ip {{ node[inventory_hostname]["mlag"]["backup-ip"] }} vrf mgmt
  clagd-sys-mac {{ node[inventory_hostname]["mlag"]["sysmac"] }}
  {% if node[inventory_hostname]["mlag"]["priority"] is defined %}
  clagd-priority {{ node[inventory_hostname]["mlag"]["priority"] }}
  {% endif %}
{% endif %}

###############
# Client ports
###############

{% if node[inventory_hostname]["ports"] is defined %}
{% for port in node[inventory_hostname]["ports"] -%}

{% if node[inventory_hostname]["ports"][port]["mlag"] %}
{% for member in node[inventory_hostname]["ports"][port]["members"] -%}
auto {{member}}
iface {{member}}
{% endfor %}
{% endif %}

auto {{port}}
iface {{port}}
  {% if node[inventory_hostname]["ports"][port]["mtu"] is defined %}
  mtu {{node[inventory_hostname]["ports"][port]["mtu"]}}
  {% else %}
  mtu 9000
  {% endif %}
  {% if node[inventory_hostname]["ports"][port]["alias"] is defined %}
  alias {{ node[inventory_hostname]["ports"][port]["alias"] }}
  {% endif %}
  {% if node[inventory_hostname]["ports"][port]["mlag"] %}
  clag-id {{ node[inventory_hostname]["ports"][port]["mlag-id"] }}
  bond-slaves {{ node[inventory_hostname]["ports"][port]["members"] | join(" ") }}
  {% else %}
  mstpctl-bpduguard yes
  mstpctl-portadminedge yes
  {% endif %}
  {% if node[inventory_hostname]["ports"][port]["trunk"] %}
  {% if node[inventory_hostname]["ports"][port]["vlans"] is defined %}
  bridge-vids {{ node[inventory_hostname]["ports"][port]["vlans"] | join(" ") }}
  {% endif %}
  {% else %}
  bridge-access {{ node[inventory_hostname]["ports"][port]["vlan"] }}
  {% endif %}
{% endfor %}
{% endif %}
