###############
# Ansible generated config, will be overwritten!
###############
# /etc/snmp/snmpd.conf

# SYSTEM INFORMATION
sysLocation	{{ snmp_location }}
sysContact	{{ snmp_contact }}
sysName		{{ inventory_hostname }}

# ALLOWED HOSTS
{% for host in snmp_allowed_hosts %}
rocommunity {{ snmp_ro_community }} {{ host }}
{% endfor %}
