frr version 4.0+cl3u1
frr defaults datacenter
ip import-table 10 route-map REDIST_NEIGHBOR
hostname {{ inventory_hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
{% if node[inventory_hostname]["ospf"] is defined %}
{% for interface in node[inventory_hostname]["ospf"]["interfaces"] -%}
interface {{interface}}
 ip ospf area 0.0.0.0
 ip ospf network point-to-point
{% endfor %}
!
log syslog informational
router ospf
 ospf router-id {{ node[inventory_hostname]["ospf"]["router-id"] }}
 log-adjacency-changes detail
 timers throttle spf 5 100 500
 timers lsa min-arrival 50
 passive-interface default
{% for interface in node[inventory_hostname]["ospf"]["interfaces"] -%}
 no passive-interface {{interface}}
{% endfor %}
 redistribute table 10
 route-map REDIST_NEIGHBOR permit 10
!
{% endif %}
line vty
