###############
# Ansible generated config, will be overwritten!
###############
# /etc/ptm.d/topology.dot

{% if ptm is defined %}
graph G {
{% for item in ptm %}
    {{ item }}
{% endfor %}
}
{% endif %}
