frr version 4.0+cl3u1
frr defaults datacenter
ip import-table 10 route-map REDIST_NEIGHBOR
hostname {{ inventory_hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
{% if node[inventory_hostname]["ospf"] is defined %}
router-id {{ node[inventory_hostname]["ospf"]["router-id"] }}
router ospf
  ospf router-id {{ node[inventory_hostname]["ospf"]["router-id"] }}
  network {{ node[inventory_hostname]["ospf"]["network"] }} area 0.0.0.0
{% for interface in node[inventory_hostname]["ospf"]["interfaces"] -%}
!
interface {{interface}}
  ip ospf network point-to-point
!
{% endfor %}
redistribute table 10
route-map REDIST_NEIGHBOR permit 10
log-adjacency-changes detail
{% for interfaces in node[inventory_hostname]["ospf"]["interfaces"] -%}
no passive-interface {{interfaces}}
{% endfor %}
{% endif %}
line vty
