frr version 4.0+cl3u1
frr defaults datacenter
hostname {{ inventory_hostname }}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% if node[inventory_hostname]["ospf"] is defined %}
router ospf
  ospf router-id {{ node[inventory_hostname]["ospf"]["router-id"] }}
  network {{ routing["ospf"]["network"] }} area 0.0.0.0
  passive-interface default
  no passive-interface vlan{{ node[inventory_hostname]["ospf"]["lnk-vlan"] }}
  log-adjacency-changes detail
  timers throttle spf 5 100 500
  timers lsa min-arrival 50
!
{% for route in general["vlans"] -%}
ip route 10.{{route}}.0.0/24 {{routing["ospf"]["fw-carp-address"]}}
{% endfor %}
!
interface vlan{{ node[inventory_hostname]["ospf"]["lnk-vlan"] }}
 ip ospf network point-to-point
{% endif %}
!
line vty
