###############
# Ansible generated config, will be overwritten!
###############

###############
# General
###############
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["lo"]}}

auto eth0
iface eth0 inet dhcp
  vrf mgmt

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

###############
# Bridge / Vlans
###############

auto bridge
iface bridge
  bridge-vlan-aware yes
  bridge-ports {{ node[inventory_hostname]["ports"] | join(" ") }}
    bridge-vids {{ general["vlans"] | join(" ") }} {% if node[inventory_hostname]["ospf"] is defined %}{{ node[inventory_hostname]["ospf"]["lnk-vlan"] }} {% endif %}

{% if node[inventory_hostname]["ospf"] is defined %}
###############
# OSPF ports
###############

auto vlan{{ node[inventory_hostname]["ospf"]["lnk-vlan"] }}
iface vlan{{ node[inventory_hostname]["ospf"]["lnk-vlan"] }}
  address {{ node[inventory_hostname]["ospf"]["router-id"] }}
  vlan-id {{ node[inventory_hostname]["ospf"]["lnk-vlan"] }}
  vlan-raw-device bridge

{% for port in node[inventory_hostname]["ospf"]["members"] -%}
auto {{port}}
iface {{port}}
  mtu 9000
  bridge-pvid {{ node[inventory_hostname]["ospf"]["lnk-vlan"] }}
{% endfor %}


{% endif %}
